<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Tech Blog</title>
        <link rel="stylesheet"/>
    </head>

    <body>
        <div class="flex column justify-content-flex- start">
            <h1>Tech Blog</h1>
            <main class="container container-fluid mt-5">
                {{{body}}}
            </main>
        </div>
    </body>
</html>