<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>The Tech Blog</title>

</head>
<body>

  <header id="top">
      <nav class="flex-row justify-content-flex-start">
    <ul>
      
        <li href="#Home">Home</li>
        <li href="#Dashboard">#Dashboard</li>
        <li href="#Login">Login</li>
        <li href="#Logout">Logout</li>
    </ul>
   </nav>
   <div class="justify-content-flex-start">
     <h1>The Tech Blog</h1>
   </div>
  </header>
  <main>
    {{{body}}}
  </main>
 
  
</body>







</html>
